  h1, h2, h3, body {
    font-family:  Papyrus, fantasy;
  }
  h1 {
    color: #CD113B;
    text-shadow: 3px 3px 3px #ababab;
    font-size: 40px;
  }
  
  h2 {
    color: #CD113B
  }
  
  h3 {
    color: #CD113B
  }

  h5 {
    font-family: georgia;
    color: #52006A;
  }
  
  #info {
    font-family: georgia;
    color: #52006A
  }

body {
    background-color: #FFA900;
    text-align: center;
}

a {
    text-decoration: none;
    color: #52006A;
    background-color: #FF7600;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }