body {
    font-family: Courier New;
    background-color: salmon;
    text-align: center;
}

a {
    text-decoration: none;
    color: hotpink;
    background-color: lavender;
    padding: 10px;
}

#description {
    color: red
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }