@font-face {
    font-family: 'KungFuPanda';
    src: url('KungFuPandaRegular-xYjV.ttf')
}

h1 {
    font-family:  'KungFuPanda';
    color: #CD113B
}

body {
    font-family: 'KungFuPanda';
    background-color: #FFA900;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  a {
    text-decoration: none;
    color: #52006A;
    background-color: #FF7600;
    padding: 10px;
}

