@font-face {
    font-family: 'Kung Fu Panda';
    src: url('KungFuPanda.woff2') format('woff2'),
        url('KungFuPanda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family:  'Kung Fu Panda';
    color: #CD113B
}

body {
    font-family: 'Kung Fu Panda';
    background-color: #FFA900;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

a {
    text-decoration: none;
    color: #52006A;
    background-color: #CD113B;
    padding: 10px;
}

